attrs==25.4.0
certifi==2026.2.25
charset-normalizer==3.4.5
clearml==2.0.2
Cython==3.2.4
furl==2.1.4
idna==3.11
imagecorruptions==1.1.2
ImageIO==2.37.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lazy-loader==0.5
networkx==3.6.1
numpy==2.2.6
opencv-python==4.13.0.92
orderedmultidict==1.0.2
packaging==26.0
pathlib2==2.3.7.post1
pillow==12.1.1
psutil==7.2.2
PyJWT==2.10.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
scikit-image==0.26.0
scipy==1.17.1
six==1.17.0
tifffile==2026.3.3
typing_extensions==4.15.0
urllib3==2.6.3